<%= form_for(user) do |f|%>

  <%= render "error_validation",  user: user%>
  <p> 
  <%=  f.label :name%>:
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label  :email%>:
  <%= f.text_field :email%>
  </p>
  <p>
  <%= label_tag :type,"Role" %>:
  <%=  text_field_tag :type,user.type %>
  </p>
  <p>
  <%= submit_tag("Update") %>
  </p>
<% end %>



